.FooterContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 4px solid;
    border-color: var(--color-primary);
    border-radius: 16px;

    padding: 4px;
}

.LegalInfo {
    color: var(--color-text)
}

.LegalInfo a {
    color: var(--color-primary)
}

.DonateNowButton {
  background-color: var(--color-primary);
  color: white;
  transition: all ease 0.3s;
}

.DonateNowButton:hover {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
}

.Credit {
    width: 150px;
    word-break: break-all;
    text-align: center;
    padding-right: 8px;
}

@media (max-width: 768px) {
    .FooterContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        border: 4px solid;
        border-color: var(--color-primary);
        border-radius: 16px;

        padding: 4px;
    }

    .DonateNowButton {
        background-color: var(--color-primary);
        color: white;
        transition: all ease 0.3s;
        width: 100%;
        margin-top:8px;
    }

    .Credit {
        width: 100%;
        padding-top: 8px;
    }
}