.ImageOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
}

.ImageContainer {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ZoomedImage {
    max-width: 1000px;
    max-height: 600px;
}

.CloseButton {
    position: absolute;
    top: 0;
    right: 0.5rem;
    opacity: 0.6;
    font-size: 2rem;
    background: white;
    margin-top: 10px;
    height: 50px;
    border: none;
    color: var(--color-primary);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.CloseButton:hover {
    opacity: 1;
}

.MobileCloseButton {
    display:none;
}

@media (max-width: 768px) { 
    .ImageOverlay {
        padding: 16px;
        display: flex;
        flex-direction: column;
    }

    .ImageContainer {
        position: relative;
        overflow: hidden;

        max-height: 80%;

        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .ZoomedImage {
        display: block;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
    }

    .CloseButton {
        display: none;
    }

    .MobileCloseButton {
        display: block;
        margin-top: 32px;
    }
}