html, body, #root {
  height: 100%;
  font-family: sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.banner {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   background-color: var(--color-primary);
   border-radius: 8px;
   color: white;
   font-size: 14px;
   padding: 2px;
   margin-top: 8px;
}

.Main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.ActivePage {
  display:block;
}

.Spacer {
    Display: none;
}

@media (max-width: 768px) {
  html, body, #root {
    height: 100%;
    font-family: sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);

    width: 100%;
    max-width: 1200px;
    padding: 2px;
  }

  .Main {
    padding: 4px;
  }

    .Spacer {
        display: block;
        width: 100%;
        height: 16px;
        visibility: hidden;
    }


  .banner {
    text-align:center;
    padding: 4px;
  }
}